<ion-header>
    <ion-navbar>
        <ion-title>{{holidays[0].date | date :'dd MMM yyyy' : '' : locale}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">

    <ion-slides centeredSlides="true">
        <ion-slide *ngFor="let holiday of holidays" style="align-items: center;">
            <ion-card *ngIf="holiday.id === 'birthday'">
                <img [src]="holiday.imgSrc"/>
                <div>
                    <div class="card-title"
                         [translate]="wish"></div>
                    <div class="card-subtitle"
                         [translate]="holiday.description"
                         [translateParams]="{value:  holiday.magicNumber}"></div>
                </div>

            </ion-card>
            <ion-card *ngIf="holiday.id === 'event'">
                <img [src]="holiday.imgSrc"/>
                <div class="card-title"
                     [translate]="holiday.title"></div>
                <div class="card-subtitle"
                     [translate]="holiday.description"
                     [translateParams]="{value:  holiday.magicNumber}"></div>
            </ion-card>

            <div *ngIf="holiday.priority>= 3" class="holiday-card">
                <div class="holiday-card-title"> {{holiday.title}}</div>
                <img class="holiday-img" [src]="holiday.imgSrc">
                <div class="holiday-card-description">
                    <div>{{holiday.description}}</div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>


</ion-content>


