// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/angular-calendar/scss/angular-calendar.scss";
@import "../assets/styles/common.scss";

$main-color: #0da5f3;
$yellow-color: #FEE40C;
$red-color: #FA2A61;

ion-title {
  text-align: center;
  .toolbar-title-md,
  .toolbar-title-ios {
    color: $main-color;
    font-size: 20px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 365px) {
  ion-title {
    text-align: center;
    .toolbar-title-md,
    .toolbar-title-ios {
      color: $main-color;
      font-size: 28px;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 365px) {
  ion-navbar {
    min-height: 36px !important
  }
  ion-title {
    text-align: center;
    .toolbar-title-md,
    .toolbar-title-ios {
      color: $main-color;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.holiday-green-background {
  background-color: #01DC3F;
}

.holiday-yellow-background {
  background-color: $yellow-color;
  //color: #F0F32B; норм
}

.holiday-yellow {
  color: $yellow-color;
  //color: #F0F32B; норм
}

.holiday-red-background {
  background-color: $red-color;
  //color: #FA2A61; норм
}

.scroll-content {
  overflow-y: auto !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

#introduction ion-slide.swiper-slide {
  align-items: center !important;
}
