// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../../node_modules/angular-calendar/scss/angular-calendar.scss";
@import "../assets/styles/common.scss";

ion-title {
  text-align: center;
  .toolbar-title-md,
  .toolbar-title-ios {
    color: #0da5f3;
    font-size: 28px;
    font-weight: 300;
  }
}

.main-blue {
  color: #0da5f3;
}

.holiday-green-background {
  background-color: #01DC3F;
}

.holiday-yellow-background {
  background-color: #FEE40C;
  //color: #C0B90E;
  //color: #DCF30D;
  //color: #F0F32B; норм
}

.holiday-yellow {
  color: #FEE40C;
  //color: #C0B90E;
  //color: #DCF30D;
  //color: #F0F32B; норм
}

.holiday-red-background {
  background-color: #FA2A61;
  //color: #C0B90E;
  //color: #FA0061;
  //color: #FA2A61; норм
}


