<ion-content>

    <ion-slides id="introduction" *ngIf="firstOpening"
                (ionSlideDidChange)="slideChanged()"
                [style.height]="screenHeight()"
                pager>
        <ion-slide>
            <ion-list>
                <input id="introduction-name"
                          placeholder="Hello! What's your name?"
                          (keyup)="$event.key === 'Enter' && user.firstName.trim().length>0 && nextSlide($event)"
                          [style.width]="user.firstName.length === 0 ? '295px' : (user.firstName.length + 1) * 16 + 'px'"
                          style="border:none; max-width:300px; font-size: 26px"
                          [(ngModel)]="user.firstName"/>
            </ion-list>
        </ion-slide>
        <ion-slide>

            <ion-list>
                <h1>When you were born?</h1>
                <show-fade [turnOn]="slides && slides.getActiveIndex() === 1 && !user.birthString" [slow]="true"
                           style="width:100%">
                    <p style="color:grey">I need to know even more than your name :)</p>
                </show-fade>
                <ion-datetime
                        align-items-center
                        (ngModelChange)="selectDate()"
                        displayFormat="DD MMMM YYYY"
                        placeholder="Select date"
                        [(ngModel)]="user.birthString">
                </ion-datetime>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <h1>Add events and i help you to discover your new holidays</h1>
        </ion-slide>
    </ion-slides>

    <ion-tabs #mainTabs class="tabs-basic" *ngIf="appReady&&!firstOpening">
        <ion-tab tabIcon="ios-calendar" [root]="ionCalendarPage"></ion-tab>
        <ion-tab tabIcon="calendar" [root]="calendarPage"></ion-tab>
        <ion-tab tabIcon="ios-list-box" [root]="eventPage"></ion-tab>
        <ion-tab tabIcon="ios-settings" [root]="settingsPage"></ion-tab>
    </ion-tabs>
</ion-content>
