.event-card-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #595555;
  margin-bottom: 5px;
}

.nearest-holiday-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #595555;
}

.days-amount {
  color: black;
  font-size: 16px;
}

@media only screen and (min-width: 365px) {
  .img-wand {
    width: 40%;
    max-width: 200px;
    margin: 20px auto 30px;
  }
}

@media only screen and (max-width: 365px) {
  .img-wand {
    width: 40%;
    max-width: 200px;
    margin: 5px auto 30px;
  }
  #event-card ion-card {
    top: -20px;
  }
}

#event-card {
  ion-card {
    z-index: 50;
    position: relative;
  }
}
