<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label>Наименование:</ion-label>
                <ion-icon
                        (click)="openModalEditTitle()"
                        name="md-create"
                        item-end
                        style="font-size: 17px; position: relative; top: 4px;">
                </ion-icon>
            </ion-item>
            <ion-item   (click)="openModalEditTitle()">
                <h1 style="white-space: normal"> {{event.title}}</h1>
            </ion-item>
            <ion-item>
            <ion-icon name="ios-calendar-outline" item-start></ion-icon>
                <ion-label>Дата:</ion-label>
                <ion-datetime displayFormat=" DD MMM YYYY"
                              placeholder="Specify date"
                              [(ngModel)]="event.dateString">

                </ion-datetime>
            </ion-item>
          <ion-item *ngIf = "isFutureEvent()">
            <ion-icon name="ios-notifications-outline" item-start></ion-icon>
                <ion-label>Напомнить:</ion-label>
                <ion-datetime displayFormat=" DD MMM YYYY  HH:mm"
                              pickerFormat=" DD MMM YYYY HH:mm"
                              placeholder="Specify date"
                              min="2018-02-25"
                              max="2199-12-31"
                              [(ngModel)]="event.notifyDateString">

                </ion-datetime>
            </ion-item>
        </ion-list>
    </ion-card>

  {{event.toIso(event.today())}}
  {{minNotifyDate}}
    <ion-card *ngIf="event.date" style="margin-top: 10px">
        <ion-card-content >
            <div class="event-card-flex-row">
                <span>Прошедшее кол-во дней:</span>
                <span class="days-amount">1000</span>
            </div>
            <div class="event-card-flex-row" style="margin-bottom: 5px">
                <span>Ближайший праздники:</span>
            </div>
            <div class="nearest-holiday-flex-row">
                <span style="margin-left: 10px"> 28.02.2018 </span>
                <span>Holiday title big title</span>
            </div>
            <div class="nearest-holiday-flex-row">
                <span style="margin-left: 10px"> 28.02.2018 </span>
                <span>1000 days</span>
            </div>
            <div class="nearest-holiday-flex-row">
                <span style="margin-left: 10px"> 28.02.2018 asd</span>
                <span>Holiday title big title</span>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
