<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content id="event-card">
    <ion-card>
        <ion-list>
            <ion-item (click)="openModalEditTitle()">
                <h1 style="white-space: normal"> {{event.title}}</h1>
                <ion-icon
                        (click)="openModalEditTitle()"
                        name="md-create"
                        item-end
                        style="font-size: 17px; position: relative; top: 4px;">
                </ion-icon>
            </ion-item>
            <ion-item>
                <ion-icon name="ios-calendar-outline" item-start></ion-icon>
                <ion-label>Дата:</ion-label>
                <ion-datetime displayFormat=" DD MMM YYYY"
                              (ngModelChange)="dateChange($event)"
                              placeholder="Specify date"
                              max="2199-12-31"
                              [(ngModel)]="event.dateString">

                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-icon name="ios-notifications-outline" item-start></ion-icon>
                <ion-label>Напомнить:</ion-label>
                <ion-datetime displayFormat=" DD MMM YYYY  HH:mm"
                              pickerFormat=" DD MMM YYYY HH:mm"
                              placeholder="Specify date"
                              min="2018-02-25"
                              max="2199-12-31"
                              [(ngModel)]="event.notifyDateString">

                </ion-datetime>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card>
        <ion-item>
            <div class="event-card-flex-row">
                <span *ngIf="isFuture()">Осталось дней:</span>
                <span *ngIf="!isFuture()">Прошло дней:</span>
                <span class="days-amount">{{diffDays()}}</span>
            </div>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="!event.magicEvent"
              style="margin-top: 10px"
              (click)="discoverHolidays()">
        <img class="img-wand" src="assets/imgs/wand.jpg">
        <h2 style="color:grey; position: absolute; bottom: 5px; left: 15px">
            Discover new holidays
        </h2>
    </ion-card>

    <ion-card *ngIf="event.magicEvent"
              style="margin-top: 10px">
        <ion-item>
            <ion-label>Ближайшие праздники:</ion-label>
            <ion-icon
                    (click)="event.magicEvent = false"
                    name="ios-close"
                    item-end
                    style="font-size: 38px; position: relative; top:-5px; color: grey">
            </ion-icon>
        </ion-item>
        <ion-card-content>
            <div class="nearest-holiday-flex-row" *ngFor="let holiday of nearestHolidays">
                <span>{{holiday.description}}</span>
                <span style="margin-left: 10px">{{holiday.date | date :'dd MMM yyyy' : '' : locale}} </span>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
