.visibility-hidden {
  visibility: hidden;
}

.display-flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.margin-top-20px {
  margin-top: 20px;
}
.margin-top-40px {
  margin-top: 40px;
}

.margin-top-50px {
  margin-top: 50px;
}

