.calendar-nav-ctrl {
  display: flex;
}

.cal-month-view .cal-day-cell {
  min-height: 70px;

  .cal-cell-top {
    min-height: 70px;
  }
}

.cal-header {
  .cal-cell {
    color: #0da5f3;
    font-size: 14px;
    font-weight: 400;
  }
}

.calendar-month-header {
  justify-content: center;
  display: flex;
  position: relative;
  margin-top: 20px;

  .calendar-month-title {
    color: grey;
    font-size: 18px;
    font-weight: 400;
  }
  .calendar-today {
    color: #0da5f3;
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }
}

.holiday-img {
  border-radius: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.holiday-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holiday-header-title {
  color: grey;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  margin-right: 65px;
}

.holiday-card-description {
  color: grey;
  font-size: 24px;
  font-weight: 300;
}