.color-grey {
  color: #757575;
}

#settings-content {
  .scroll-content {
    background-color: #f5f5f5;
  }
  ion-card {
    position: relative;
    z-index: 50;
  }
}

.holiday-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 6px;
}

.list-md {
  .list-header-md {
    border-top: none;
  }
  ion-icon {
    color: #595555;
  }
  .label-md {
    font-size: 1.4rem;
    color: #595555;
  }

  .language-btn {
    border-bottom: 1px solid #dedede;
  }
}

.card-md {
  margin: 5px 5px
}

ion-card {
  width: 100% !important;
  margin: 20px 0px !important;
}

