.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 75px;
  right: 20px;
  color: #fff;
  background-color: #0da5f3;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  z-index: 100;
  ion-icon {
    font-size: 1.6em;
  }
}

.button-inner {
  color: #a3a3a3;
}

#hp-event-title {
  border: none;
  width: 100%;
}

.first-step-info {
  font-size: 30px;
  font-weight: 300;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 20%;
  z-index: 0;
}

.ion-item-date-time {
  margin-right: 15px;
  min-width: 140px;
  width: 140px;
}

.width140 {
  width: 140px;
}

.min-width140 {
  min-width: 140px;
}

.card-md {
  margin: 1px 5px;
  width: calc(100% - 10px);
}

ion-modal .modal-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}


.events-segment {
  margin-bottom: 20px;
  margin-top: 5px;
}


.event-ion-list {
  max-height: calc(100% - 150px);
  overflow-y: auto;
  position: relative;
  z-index: 50;
}
