.visibility-hidden {
  visibility: hidden;
}
.display-none {
  display: none;
}

.remove-btn {
  width: 90px;
}

.add-btn {
  margin-right: 10px;
  float: right;
}

.close-mode {
  ion-input, div {
    color: grey;
  }
  .close-line {
    width: calc(100% - 40px);
    position: absolute;
    top: 16px;
    left: 10px;
    z-index: 1;
  }
}

.event-title {
 border: none;
  width: 100%;
}

