.visibility-hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.remove-btn {
  margin: auto 10px auto 0px;
  color: grey;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
  color: #fff;
  background-color: #0da5f3;

  ion-icon {
    font-size: 1.5em;
  }
}

.close-mode {
  ion-input, div {
    color: grey;
  }
  .close-line {
    z-index: 1;
  }
}

.close-line {
  width: calc(100% - 40px);
  position: absolute;
  top: 16px;
  left: 10px;
}

.button-inner {
  color: #a3a3a3;
}

.event-title {
  border: none;
  width: 100%;
}

.first-step-info {
  font-size: 40px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

#event-title .toolbar-title-md {
  color: #0da5f3;
}

.width210 {
  width: 210px;
}

.min-width140 {
  min-width: 140px;
}

.card-md {
  margin: 5px;
  width: calc(100% - 10px);
}